:root {
    --color-count: #4ade80;
    --color-particle: #4ade80;
    --color-particle-link: rgba(74, 222, 128, 0.15);
    --color-pulse: #fff;
    --color-theme-toggle: #4ade80;
    --color-theme-toggle-hover: #fff;
    --color-bg-main: #111;
    --color-bg-overlay: rgba(0, 0, 0, 0.8);

    --color-text-default: #eee;
    --color-text-main-label: #9ca3af; 
    --color-text-footer: #4b5563;
    --color-text-footer-hover: #9ca3af;
    --color-text-debug: #4b5563;
    --color-text-debug-link: #4b5563;
    --color-text-debug-link-hover: #9ca3af;
    --color-text-anchor-link: #4b5563;

    --color-modal-bg: #111;
    --color-modal-border: #222;
    --color-modal-title: #666;
    --color-modal-close-btn: #333;
    --color-modal-close-btn-hover: #666;
    --color-modal-stat-div: #1a1a1a;
    --color-modal-stat-label: #4b5563;
    --color-modal-stat-value: #9ca3af;
    --color-modal-footer: #333;

    --color-terminal-bg: rgba(0, 0, 0, 0.9);
    --color-terminal-border: #333;
    --color-terminal-shadow: rgba(0, 0, 0, 0.3);
    --color-terminal-input-text: #fff;
    --color-terminal-input-divider: #333;
    --color-terminal-output-message: #ddd;
    --color-terminal-tab-arrow: #4ade80;
    --color-terminal-tab-arrow-hover: #fff;
    --color-terminal-tab-bg-hover: #222;
    --color-terminal-status-message: #666;
    --color-terminal-scrollbar: #333;
    --color-terminal-scrollbar-hover: #444;
    --color-terminal-text-default: #4ade80;
}